<div class="container" >                         
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="card-header">
         <%= link_to 'New Article', articles_path, class: 'btn btn-primary' %>
      </div>
      <div class="card-body">
        <div class="col-md-12">
        	<%= render 'form'%>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
